/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Poppins";
    font-weight: normal;
  }
  
  
  
  body {
    background-color: #e2dfdf;
    font-family: "Poppins";
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
  
  
  }
  
  .darkModeContrast {
    background-color: #000;
    color: #fff
  }
  
  .darkGrey {
    background-color: rgb(58, 58, 58);
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #3b3177d0;
    border-radius: 50%;
  
    border-top: 16px solid transparent;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
  
    to {
      bottom: 0px;
      opacity: 1
    }
  }
  
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0
    }
  
    to {
      bottom: 0;
      opacity: 1
    }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
  #loader_caption1 {
    display: block;
    margin-top: 450px;
    text-align: center;
  }
  
  
  
  /** theme toggles **/
  .sidenav::-webkit-scrollbar {
    display: none;
  }
  
  .sidenav {
  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
    padding-top: 60px;
  }
  
  .sidenav a,
  .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
    color: #d6d4d4;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
  
    font-size: 30px;
    color: #ffffff;
    background-color: #666666;
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
  }
  
  .sidenav a:focus {
    font-size: 30px;
    color: #000000;
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
    background-color: #ffffff;
  }
  
  
  .sidenav .closebtn {
    cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 36px;
    margin-left: 51px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav p,
    .sidenav a {
      cursor: url("https://www.tutorialrepublic.com/examples/images/custom.gif"), url("https://www.tutorialrepublic.com/examples/images/custom.cur"), auto;
      font-size: 18px;
    }
  }
  


  h3{
    color: darkblue;
    font-style: italic;
  }